[2020-03-05 20:27] Spreeuw opened #1 "Errors on empty order and non-catalog (deleted product) order items"
PHP Fatal error:  Uncaught Error: Call to a member function get_items() on bool in /stock-locations-for-woocommerce/app/traits/trait-slw-order-item.php:359

PHP Fatal error:  Uncaught Error: Call to a member function get_ID() on bool in /stock-locations-for-woocommerce/app/traits/trait-slw-order-item.php:363

[2020-03-06 07:24] Spreeuw commented on #1
This only fixes the first error, the second error pops up when editing an order that holds an item that is no longer exists in the woocommerce catalog.

[2020-03-06 09:02] alexmigf commented on #1
Sorry, should be fixed now on c8ba49e56170e421db7180fbf6ea67c1224dfd8b

[2020-05-10 09:00] clvnsm opened #2 "Removing Item from Order Doesn't Return the Stock to The Location"
Steps to reproduce:

1. Set stock for Product A in location A: 10
2. Add Order 1 pcs from Admin Panel, stock in location A: 9
3. Edit Order from Admin Panel, remove Item from Order.
4. Total Woocommerce stock updated (back to 10) but stock in Location A not returning (still 9).

Wordpress 5.4.1
Woocommerce 4.0.1

[2020-05-11 20:59] alexmigf commented on #2
@clvnsm it's a known issue https://wordpress.org/support/topic/stock-management-has-bug/

[2020-05-11 20:59] #2 closed

[2020-08-05 09:40] Noni2020-star opened #9 "Crtitical Error in Installing SLW on my ecommerce store"
Good Day,

Yesterday I experienced an error in installing SLW, I received an error where the screen went white, with a message that says “There has been a critical error on your website” and below that there was a message that says “Learn more about debugging in WordPress”.

We had to uninstall after the error, we still wish to use the plugin as we believe its the best in order to help with the mu

[2020-08-05 17:23] alexmigf commented on #9
Hi @Noni2020-star

Can you check under WooCommerce > Status > Logs if you find any related error?

[2020-08-06 18:41] Noni2020-star commented on #9
Thank you for getting back to me, please see below:

fatal-errors-2020-08-04-ea4ffbf810cda6a2820b8193a1888fe1.log Delete log<https://app.yazeewa.co.za/wp-admin/admin.php?page=wc-status&tab=logs&handle=fatal-errors-2020-08-04-ea4ffbf810cda6a2820b8193a1888fe1-log&_wpnonce=82959af8b9>

fatal-errors-2020-08-04-ea4ffbf810cda6a2820b8193a1888fe1.log (August 4, 2020 at 9:15 pm)

fatal-errors-2020-08-05-ea

[2020-08-06 18:46] alexmigf commented on #9
Thank you @Noni2020-star

The problem seems related to another plugin `/plugins/directorist/` as seen in your error log.

[2020-08-06 21:53] alexmigf commented on #9
@Noni2020-star it's now fixed, please update your plugin.

Thank you for the report!

[2020-08-06 21:53] #9 closed

[2020-08-06 23:38] Noni2020-star commented on #9
So I can now install SLW it won't crash the website or cause problems with directorist?

[2020-08-07 07:02] alexmigf commented on #9
Yes, you can install and should be ok, but must be the last version 1.2.2

[2020-08-07 16:27] Noni2020-star commented on #9
Thank you it’s installed. I’m not confused by how do you add location and it’s address. Can you please share a user guide that explains this process carefully

Thank you

Get Outlook<https://aka.ms/qtex0l> for iOS

Kind Regards
Nombuso
Founder of Yazeewa

________________________________
From: Alexandre Faustino <notifications@github.com>
Sent: Friday, August 7, 2020 9:03:01 AM
To: alexmigf/stock-

[2020-08-07 16:32] alexmigf commented on #9
Hi @Noni2020-star

What do you mean by address?

[2020-08-07 20:18] Noni2020-star commented on #9
The stock location option doesn’t it allow you to add a address for the different locations I’ll be stocking my inventory?

Get Outlook<https://aka.ms/qtex0l> for iOS

Kind Regards
Nombuso
Founder of Yazeewa

________________________________
From: Alexandre Faustino <notifications@github.com>
Sent: Friday, August 7, 2020 6:32:18 PM
To: alexmigf/stock-locations-for-woocommerce <stock-locations-for-

[2020-08-10 16:29] alexmigf commented on #9
Physical address? No.

[2020-08-10 17:03] websitecareio opened #10 "Possible bug when using variable products."
Hi. (Great plugin!)

When trying to get the plugin to show a message on a normal product, then it works fine. But when using variable products it doesn't work.

How we use the plugin:
We update product stock using WP all import and settings the fields: _stock_at_XXXX (XXXX Being the ID of the TAX) to what ever level the stock is at in that location. THen currently manually setting the location aft

[2020-08-10 17:25] websitecareio commented on #10
DId some more debugging and found out, that on the products where it does not work , it fails simply because is thinks its not a product.

![NP](https://user-images.githubusercontent.com/5160115/89811261-af13ff00-db3e-11ea-82ce-91b379a7f026.PNG)

It does not get past the line that checks if its a product :/

[2020-08-10 17:53] Noni2020-star commented on #9
Okay thanks

So this is not the right plugin, I needed a plugin that allows multi stock location on different addresses

[2020-08-10 18:17] alexmigf commented on #9
Sorry, i think i miss understand your question. This plugin allow you to add stock on various locations, for example: Lisbon, Madrid, etc.

But doesn't allow you to add the street address (i think the confusion was here).

[2020-08-11 17:56] alexmigf commented on #10
Hi @websitecareio at this moment just works at a parent product level not with variations.

[2020-08-11 18:38] websitecareio commented on #10
Hi. Thanks for replying. Sadly I did not notice this when reading about this great plugin. Is this a feature coming soon to this plugin or is it not planned?

[2020-08-11 19:43] alexmigf opened #11 "Transfer stock between warehouses and keep a log of it"

[2020-08-11 19:46] alexmigf opened #12 "With auto allocation enable, create a setting to consume the location with the highest stock amount"
https://wordpress.org/support/topic/how-to-get-location-id-and-name/

[2020-08-11 19:48] alexmigf opened #13 "Setting to add a term (location) to all products in bulk"

[2020-08-11 19:49] alexmigf opened #14 "Trigger email for each location email when an order takes place"
https://wordpress.org/support/topic/sending-email-to-the-location-warehouse/

[2020-08-11 19:50] alexmigf commented on #10
Hi @websitecareio i will try to do it for a next release.

[2020-08-11 19:59] websitecareio commented on #10
Good to hear.

Another question:
Is there any place where I can donate to you?

[2020-08-11 21:49] alexmigf commented on #10
You're welcome :)

About the donation, one review would be fine and really appreciated: https://wordpress.org/support/plugin/stock-locations-for-woocommerce/reviews/#new-post

[2020-08-14 22:24] jegschl opened #15 "Products outofstock Taxonomy is not saved from product update woocommerce panel"
I had to add code for correctly save the product outofstock Taxonomy. Without this code the product stock status always is set to "outofstock".

In your file wp-content/plugins/stock-locations-for-woocommerce/src/classes/class-slw-stock-locations-tab.php:358 your code is this:

                 if( isset($_POST['_backorders']) && ( sanitize_text_field($_POST['_backorders']) === 'no' ) ) {

[2020-08-17 17:04] alexmigf commented on #15
Hi @jegschl

Thank you for your reporting, i will add those in the next release.

[2020-08-17 20:19] #15 closed

[2020-08-20 19:38] Olestraume opened #16 "Import / Export with CSV"
Love where you are going with this!
Is it possible to export and import with CSV on this one yet?

[2020-08-21 17:40] alexmigf opened #17 "Detect customer IP to select location"
https://wordpress.org/support/topic/show-stock-based-on-client-adresse-city/#post-13279749

[2020-08-25 18:43] jegschl commented on #15
Thanks to you for your god job on stock-locations-for-woocommerce wordpress plugin!
bye

[2020-08-26 22:33] MarekBylica opened #18 "Admin panel, WooCommerce Order page - "Invalid argument supplied for foreach()""
Hi,

I just wanted to report that when we have no stock locations set for particular product there is a warning in admin panel -> WooCommerce orders -> Enter some order with missing stock location: "Invalid argument supplied for foreach()". Nothing scary but maybe worth mentioning. Great plugin tho :)

![image](https://user-images.githubusercontent.com/22155560/91363601-45ae1480-e7fd-11ea-86b9-57d

[2020-08-27 20:11] #18 closed

[2020-08-27 20:12] alexmigf commented on #18
Hi @MarekBylica , thank you for the reporting, should be fixed on the next release.

[2020-08-28 18:31] alexmigf opened #19 "Added selected locations to PDF documents"
Create a setting to display automatically the selected stock locations per product on [WooCommerce PDF Invoices & Packing Slips](https://wordpress.org/plugins/woocommerce-pdf-invoices-packing-slips/) plugin.

[2020-08-31 11:50] MarekBylica opened #20 "Stock not being updated on variable product"
I think I found one more bug but this one seems to be quite important. When we have a variable product and we fill the order our stock should be automatically subtracted but it isn't. It works great in a simple product but in variable nothing changes, not the variation nor sum for the product. I can only change it's count manually.

![image](https://user-images.githubusercontent.com/22155560/91715

[2020-08-31 17:16] alexmigf commented on #20
Hello @MarekBylica , do you have the auto order allocation enabled for that locations?

[2020-08-31 21:52] MarekBylica commented on #20
Hi, @alexmigf.  In fact, after enabling this option, the stock for variable product started to change. However, I have two questions.
1. Why in single product, when we don't have auto allocate enabled, the stock changes correctly when we manually assign a product?
2. Why in the variable product there is a "general" stock for all products (the one at the top), since we basically only use the sum of

[2020-09-02 19:04] alexmigf commented on #20
Hi, I'm on holidays right now, I will check that when I came back if you don't mind.

[2020-09-09 20:43] MarekBylica opened #21 "Stock does not synchronize when using the PolyLang and it's Woocommerce integration plugin"
Hey,

I have an issue using translations with Stock Locations. When I create a translation for some product it does not synchronize stock for different language versions of the product (even if in https://github.com/hyyan/woo-poly-integration plugin I have synchronization enabled). I'm not sure if it's a bug or it's an idea for some enchancement. I will be grateful for any answer.

[2020-09-11 16:57] alexmigf commented on #21
Hi @MarekBylica

The plugin doesn't support multilingual setups currently, i will need some time to do that.

[2020-09-11 16:57] #21 closed

[2020-09-11 16:58] alexmigf opened #22 "Add support for multilangual setups"
Currently the plugin doesn't support multilangual setups with WPML, Polylang or other, would be nice to have that in the future.

[2020-09-11 17:01] alexmigf commented on #20
Hi @MarekBylica

1) That's how it should work, if that doesn't happen with variations i have to investigate further.

2) The one in the top is the main product stock (like in the single product), not the overall stock of all the variations, that one is the WC default inside the inventory tab.

[2020-09-11 19:12] #19 closed

[2020-09-14 16:52] alexmigf opened #23 "Setting to disable barcodes product tab"
https://wordpress.org/support/topic/some-suggestions-and-questions/

[2020-09-14 16:54] alexmigf opened #24 "Move the variatons stock locations to the variations tab"
https://wordpress.org/support/topic/some-suggestions-and-questions/#post-13395096

[2020-09-17 15:22] MarekBylica commented on #22
Is there any workaround for this so I can sync my stock between translations of my products? 😢

[2020-09-17 16:25] alexmigf commented on #22
Hello Marek,

What do you mean by translations? Multilingual?

Kind regards

MarekBylica <notifications@github.com> escreveu no dia quinta, 17/09/2020
à(s) 16:22:

[2020-09-17 19:14] MarekBylica commented on #22
Yes, exacly. Using plugins like Polylang creates multiple product versions in different laguage and I want my stock to stay the same across every language. I know that Your plugin doesn't support this yet but I was wondering if there is some workaround?
Something to sync stock for all language versions of the product after I allocate some of them to an order.

[2020-09-17 19:37] alexmigf commented on #22
Hi Marek,

To be honest I never tested with WPML or PLL, I can try to see that next
week but I don't promise a solution for that soon.

Kind regards

MarekBylica <notifications@github.com> escreveu no dia quinta, 17/09/2020
à(s) 20:14:

[2020-09-17 19:41] alexmigf opened #25 "Add location selection to product page like in Cart"
https://wordpress.org/support/topic/some-suggestions-and-questions/#post-13405580

[2020-09-17 20:06] MarekBylica commented on #22
Understand. Will check for update on this one 😄

[2020-09-17 20:36] #23 closed

[2020-09-23 17:20] alexmigf opened #27 "Add locations to REST API"
https://wordpress.org/support/topic/warehouse-bin-locations/#post-13443121

[2020-09-25 18:08] #14 closed

[2020-09-26 09:52] #20 closed

[2020-09-30 01:09] WarenGonzaga opened #28 "Stock Doesn't Reduce"
The only working part is when I set it up with auto order allocate. I have 3 locations and I want the admin to choose where to subtract the stock but it is not working on my end. Please help...

[2020-09-30 17:37] #25 closed

[2020-09-30 17:38] alexmigf commented on #28
Hi @WarenGonzaga that's strange, can you show me a small screen recording of the issue?

[2020-09-30 17:41] WarenGonzaga commented on #28
@alexmigf yes sure let me prepare it for you...

[2020-09-30 17:48] WarenGonzaga commented on #28
@alexmigf how about a live copy of the site? I tried it to replicate it on WP Sandbox same behavior it works at first time then when you add another product it will not subtract again...

[2020-09-30 17:49] alexmigf commented on #28
Sure @WarenGonzaga , please send me an [email](mailto:alexmigf@gmail.com) with the details.

[2020-09-30 17:58] WarenGonzaga commented on #28
@alexmigf there's the initial clip for the issue...

![Issue](https://i.imgur.com/ziH7INJ.gif)

The setup has woocommerce installed, and woocommerce pos

[2020-09-30 18:01] WarenGonzaga commented on #28
@alexmigf expected behavior is that when you add stock number and hit enter it should record that value and subtract it to the stock location. But in my case when you hit enter nothing happens but ironically you will see a successful notice that the location stock has been updated.

[2020-09-30 18:06] alexmigf commented on #28
@WarenGonzaga  that's unexpected for sure, a stage access will be most welcome to see what's going on.

[2020-09-30 18:11] WarenGonzaga commented on #28
I'm preparing a demo for you... I'll email it to you

[2020-09-30 18:15] WarenGonzaga commented on #28
@alexmigf check your email for the credentials.

[2020-09-30 18:35] WarenGonzaga commented on #28
@alexmigf it doesn't subtract but you will see this error...

![image](https://user-images.githubusercontent.com/15052701/94725677-bad9b000-038e-11eb-85f2-dd757ed33d6a.png)

[2020-09-30 20:18] WarenGonzaga commented on #28
@alexmigf I found the issue... your plugin is not compatible with Woocommerce POS

[2020-09-30 22:15] #28 closed

[2020-10-01 02:22] WarenGonzaga opened #30 "Custom Meta Visible in Receipt Generated by Woocommerce POS"
Hi @alexmigf, your fix is great! However there is issue when generating a receipt the meta from stock allocation is mysteriously included. Is there a way to make this hidden?

![image](https://user-images.githubusercontent.com/15052701/94758531-f34dae00-03cf-11eb-9764-f16ea9bb7a5e.png)

[2020-10-01 03:14] WarenGonzaga commented on #30
@alexmigf don't worry I found a solution myself... just add this simple but advanced css selection on custom css via receipt customization.

[code]

I hope you can add a simple way to automagically remove that meta data being included in printing receipt with Woocommerce POS

[2020-10-01 03:14] #30 closed

[2020-10-06 13:18] tmttechdept commented on #27
jdobbsy replied to that thread - https://wordpress.org/support/topic/warehouse-bin-locations/#post-13493922

If this can be possible will be really good.

[2020-10-07 09:35] simeonokwo opened #31 "Stock Locations App issues"
I was so glad when I saw this plugin and wouldn't mind going for its pro version if it exists. I however need some input. First is that it has been causing critical error on my site and I don't know how to resolve the error but I like to retain the plugin.

Secondly, how do I configure it to easily display the location of items on each product?

Thanks for your anticipated support

[2020-10-08 21:01] javiercriado opened #32 "Product page select box duplicates options - Product variations"
Hello Alexandre,

great plugin!

I'm helping a friend of mine who has a small business in a jungle province from Perú with his website:
https://www.jsport.pro/producto/top-import-color/

1.- the problem is that each time you click on a product variation, in this case a product color, the stock locations select box keeps appending options.

I tried editing the plugin ajax function in script.js whic

[2020-10-12 19:04] alexmigf commented on #31
Hi @simeonokwo can you show me a screenshot of the error please?

[2020-10-12 19:06] alexmigf opened #33 "Add setting to show stock quantity when customer selects product location"
Add a setting to show the location quantity when a customer selects a location inside the product page.

https://wordpress.org/support/topic/stock-location-on-variation/#post-13524820

[2020-10-12 19:07] alexmigf commented on #27
I will try my best to include this on the next release.

[2020-10-12 19:12] alexmigf commented on #32
Hi @javiercriado , can you add it again so i can check?

[2020-10-12 21:00] simeonokwo commented on #31
I have attached screenshots of before activating and after activating the
plugin

On Mon, Oct 12, 2020, 8:04 PM Alexandre Faustino <notifications@github.com>
wrote:

[2020-10-12 21:47] alexmigf commented on #31
Hi @simeonokwo i believe you forgot to attach, i can't see them.

[2020-10-13 03:06] simeonokwo commented on #31
I hope you're able to see the before and after activation here. I had to currently deactivate it because apart from the fatal error my end users complain a lot that certain registration portals weren't clicking through.
Majorly now I can identify that it affects the function of
1. Woocommerce market place
2. Indeed affiliate pro
3. And the website as a whole.

I'll appreciate a quick attention bec

[2020-10-13 20:16] alexmigf commented on #31
Hi @simeonokwo , can you look under **WooCommerce > Status > Logs** if you see any related error and paste here?

[2020-10-13 20:19] alexmigf commented on #32
Hi @javiercriado , can't reproduce, i believe because of the error below:

<img src="https://i.ibb.co/CWFsxbh/Captura-de-ecr-de-2020-10-13-21-18-45.png" alt="Captura-de-ecr-de-2020-10-13-21-18-45" border="0">

[2020-10-14 08:30] simeonokwo commented on #31
Unfortunately, woocommerce does not seem to capture this error. I have however seen its effect before and after activation.
Additionally I have captured and attached screens from my cpanel error log. I hope they are able to give insight. Due to the width the screenshots were captured in three and joined. Then the short video clip too.

Thanks for the attention

![InShot_20201014_085951393](https:/

[2020-10-14 08:36] simeonokwo commented on #31
https://youtu.be/mLeznE7UmjI. Here is the link to the screen record of the error log

[2020-10-14 13:42] javiercriado commented on #32
Hello @alexmigf, yes. they have

![image](https://user-images.githubusercontent.com/11529913/95995865-a28a7c00-0df7-11eb-8619-859c51dbec8c.png)
![image](https://user-images.githubusercontent.com/11529913/95995915-afa76b00-0df7-11eb-9994-aa8ecd90be77.png)
![image](https://user-images.githubusercontent.com/11529913/95996583-73c0d580-0df8-11eb-834a-7dadc59c65c5.png)
![image](https://user-images.githu

[2020-10-14 17:45] alexmigf commented on #32
Hi @javiercriado can you show me your plugin settings?

[2020-10-14 17:47] alexmigf commented on #31
Hi @simeonokwo can you copy and paste the error here please?

[2020-10-14 21:52] alexmigf commented on #32
@javiercriado can you send me your email to send you a new version of the plugin for testing?

[2020-10-15 16:12] javiercriado commented on #32
yes!

![image](https://user-images.githubusercontent.com/11529913/96156919-4434ca80-0ed7-11eb-97fc-d9ec495118fb.png)

[2020-10-15 16:46] javiercriado commented on #32
@alexmigf thank you!

the error is now fixed!!

![image](https://user-images.githubusercontent.com/11529913/96160152-3123f980-0edb-11eb-8ddc-7b28171880a7.png)

[2020-10-15 17:35] #32 closed

[2020-10-15 17:45] javiercriado opened #34 "Show locations on product details (cart and checkout pages)"
Hi @alexmigf ,

it's me again! thank you for your plugin and help.

I don't see the product locations on the cart and checkout page. It's because I have activated product allocation for each product location?

![image](https://user-images.githubusercontent.com/11529913/96165797-b9f26380-0ee2-11eb-814e-53d12befc46a.png)

![image](https://user-images.githubusercontent.com/11529913/96166914-3f2a4800-

[2020-10-16 17:33] #34 closed

[2020-10-16 17:34] alexmigf commented on #33
Replaced this wtth 'Out of stock' and 'On backorder'.

[2020-10-16 17:34] #33 closed

[2020-10-16 20:53] simeonokwo commented on #31
[06-Oct-2020 01:56:14 UTC] PHP Fatal error:  Uncaught Error: Call to undefined function SLW\SRC\Classes\woocommerce_wp_text_input() in /home/simeonokwo/public_html/wp-content/plugins/stock-locations-for-woocommerce/src/classes/class-slw-order-item.php:239
Stack trace:
#0 /home/simeonokwo/public_html/wp-content/plugins/stock-locations-for-woocommerce/src/classes/class-slw-order-item.php(138): SLW\S

[2020-10-18 08:50] WarenGonzaga opened #35 "Stocks doesn't return on order cancel"
Hi there, it's me Waren again... there is a simple issue within the plugin... When an order has been allocated and when you cancel that order the stocks won't go back to the stocks data. Can you please take look into this issue?

[2020-10-18 08:51] WarenGonzaga commented on #27
Agree! and as additional @alexmigf add button or switch to allow and disallow this feature.

[2020-10-19 17:02] alexmigf commented on #31
I don't see reason for that to happen since that function still exists in WooCommerce: https://github.com/woocommerce/woocommerce/blob/02cf0dfaed5923513de0c88add597d1560c2cfd2/includes/admin/wc-meta-box-functions.php#L19

[2020-10-19 17:04] alexmigf commented on #35
Indeed, currently the plugin doesn't do anything on WC restore, i will need to add that in a future release.

[2020-10-19 17:06] alexmigf opened #36 "Ability to add sub-locations"
https://wordpress.org/support/topic/feature-request-actual-stock-location-for-backend-user/

[2020-10-19 17:09] alexmigf commented on #17
Probably will integrate this with a third party plugin.

[2020-10-19 18:09] simeonokwo commented on #31
I do not doubt the existence as you have pointed out but I feel bad seeing
the negative effect upon activating the plugin on my website

On Mon, Oct 19, 2020, 6:03 PM Alexandre Faustino <notifications@github.com>
wrote:

[2020-10-19 18:15] alexmigf commented on #31
@simeonokwo please [send me an email](mailto:alexmigf@gmail.com).

[2020-10-20 08:51] WarenGonzaga commented on #35
got it @alexmigf as additional can I help with the UI and UX of the plugin?

[2020-10-20 08:52] warengonzaga opened #37 "Better UI and UX"
Hi @alexmigf can you assign it to me? Then is there any additional steps for the development of this plugin? Contribution guide?

[2020-10-20 19:01] alexmigf commented on #37
Hi @WarenGonzaga which ideas do you have and what do you think needs improvements?

[2020-10-20 19:14] WarenGonzaga commented on #37
This one @alexmigf

![image](https://user-images.githubusercontent.com/15052701/96633256-74eb8880-134b-11eb-9f19-7478cf63c281.png)

[2020-10-20 19:14] WarenGonzaga commented on #37
I believe we can even more better look for that...

[2020-10-20 19:57] alexmigf commented on #37
Current look is this one:

<img src="https://i.ibb.co/sqDLcCs/Captura-de-ecr-de-2020-10-20-20-56-43.png" alt="Captura-de-ecr-de-2020-10-20-20-56-43" border="0">

[2020-10-20 20:30] WarenGonzaga commented on #37
How about this? @alexmigf

![image](https://user-images.githubusercontent.com/15052701/96640732-30191f00-1356-11eb-8955-ec024a20d164.png)

[2020-10-22 03:54] sloyer opened #38 "Syncing with Square"
Hey there,

Square has inventory locations which already separates by location but id like to pull the numbers from square with the total number by variation. For instance.

I have a product with 105 items in stock.  (Set in square)
55 in one location
50 in another location

Via the plugin though it only says i have 55. I imagine this is being done via Square and its just grabbing the product from

[2020-10-22 20:18] alexmigf commented on #37
Hi @WarenGonzaga , looks better, indeed, but i would like to keep the arrow down please. Submit a PR when ready.

[2020-10-22 20:20] alexmigf commented on #38
Hi @sloyer you mean by communicating via REST API?

[2020-10-26 14:19] javiercriado opened #39 "Cross browser compatibility"
Hello Alex,

I've noticed the plugin doesn't show the locations select box on a product page on Firefox or Safari in my website. Maybe it's because of my website or maybe not. It does work on Chrome.

According to the inspector it's because of the error shown in the console. The same you pointed out here. It seems the admin-ajax.php can't find the product variation. That's why the select-box remai

[2020-10-26 17:45] alexmigf opened #40 "Assign customers to locations"
https://wordpress.org/support/topic/assign-a-user-to-a-stock-location-2/#post-13582608

[2020-11-10 05:36] WarenGonzaga opened #41 "Warning on specific location with insufficient stocks"
Example scenario:

When there is an order of 2 to a specific location with 1 stock it will still reduce on the stock resulting negative value.

Expected behavior it will not reduce on the location that insufficient on stock.

[2020-11-10 05:44] WarenGonzaga opened #42 "Allocate via Products List and Order List on Admin Dashboard"
Hi @alexmigf it would be nice to add this feature to allocate stocks via products lists and order lists on admin dashboard.

For example:

There is an order of 4 stocks but the specific location has 1 stock on it. I will re-allocate the stock from location 2 to location 1 of 3 stocks to support the order from the location 1.

Did you get the logic?

[2020-11-10 05:54] WarenGonzaga commented on #38
@alexmigf this is what he mean https://developer.squareup.com/docs/build-basics/using-rest-api

[2020-11-10 05:54] WarenGonzaga commented on #38
It looks like it is a huge update.

[2020-11-11 03:53] WarenGonzaga commented on #41
This is the sample I'm talking about...

![test](https://user-images.githubusercontent.com/15052701/98763238-8ab51080-2414-11eb-9ce4-666606f58fd0.jpg)

[2020-11-12 15:20] mitzeitundohne opened #43 "Bug in stock reduction"
Hi

Great plugin! Thanks.

One bug: if no location is selected during check out in cart (frontend), then u add the location in backend in admin order list in corresponding order, then the Stock will be reduced twice with the same amount.
Thia make sense because woocomerce will reduce Stock by Handover of order already. If afterwards i select an location, the Stock is again reduced.

Can u fix this

[2020-11-12 20:16] mitzeitundohne commented on #35
yepp this is a showstopper bug :/
same happens during order too: see my bug report. the WC stock management is not controlled and finally lead to fully wrong stock amounts.

[2020-11-12 20:19] WarenGonzaga commented on #43
@mitzeitundohne this is duplicate of #35

[2020-11-12 20:30] mitzeitundohne commented on #43
i dont think so. the error is different. you talk about the cancel and that amount is not written back to WC stock.
my problem is during order and creation of the order. the result is different too: the stock will be reduced by double of the value.
but of course its very related. both issues are connected to WC stock management that is not covered.

[2020-11-12 20:43] alexmigf commented on #43
I will try to add this to the next release, just need some time.

[2020-11-12 21:09] mitzeitundohne commented on #43
This means days. Weeks months? 🙈

[2020-11-12 21:24] alexmigf commented on #43
I hope next week :)

[2020-11-12 22:09] alexmigf commented on #43
@mitzeitundohne  what are the settings for those 2 locations (a & b)? And also your plugin settings?

[2020-11-12 22:34] mitzeitundohne commented on #43
All is set to no.

Tried "yes" too with different combinations. No success. Prio Was 0.

As mentioned above: in any case of changes of stock to wc does his job regarding stock, but u miss to sync.
In my Case u finally reduce stock a 2nd time if i adapt the location amount from 0 to 1 inside the order in backend. First reduction happen during press of "order now" by customer in frontend and initial

[2020-11-12 22:45] alexmigf commented on #43
@mitzeitundohne thanks, I will look into that.

[2020-11-12 22:46] mitzeitundohne opened #44 "Total amount on Product page"
Hi again ;)

Maybe a feature request: on product edit page after applying locations u show on top the Total amount of All locations. Why u not sum all amounts of each locations and display this? This could be Automated.

And if for example the amount of any variable is 0 u could just not display the corresponding location for that variable on frontent instead of display "out of Stock "?

Rgds

[2020-11-12 22:47] mitzeitundohne opened #45 "Total amount on Pro"
Hi again ;)

Maybe a feature request: on product edit page after applying locations u show on top the Total amount of All locations. Why u not sum all amounts of each locations and display this? This could be Automated.

And if for example the amount of any variable is 0 u could just not display the corresponding location for that variable on frontent instead of display "out of Stock "?

Rgds

[2020-11-12 22:48] #45 closed

[2020-11-12 22:49] mitzeitundohne commented on #45
Sorry

[2020-11-12 23:02] mitzeitundohne commented on #43
Maybe one last hint: in customer on frontend do not define a location on card then no location is handed over to order. In this case this happens.
Of course in u configure on backend to not show location info on frontend, then no location is handed over too. Same result.
Just if i turn on Display of location info on prduct page on frontend then location info is handed over to order.

But location

[2020-11-12 23:04] mitzeitundohne commented on #43
Sorry for typos...in should be if in some cases.

 ..writing frontend mobil with german correction;)

[2020-11-17 21:37] alexmigf opened #47 "Assign location to existing products automatically"
https://wordpress.org/support/topic/new-location-for-existing-products/

[2020-11-17 22:08] alexmigf commented on #43
@mitzeitundohne

Can you please replace your current version with the master branch and see if it fixes the issue? Download here https://github.com/alexmigf/stock-locations-for-woocommerce

[2020-11-18 04:30] WarenGonzaga commented on #43
@alexmigf I probably give it a shot... let you know

[2020-11-18 04:31] WarenGonzaga commented on #41
@alexmigf you might want to take a look into this?

[2020-11-18 14:44] mitzeitundohne commented on #43
hi alex...i am not that familar with structure of files: ftp looks different then folder structure in git.
this is to time consuming for me to check. just make the rollout of zip file and i check it with that.
important is that you fix the issue from 35 too because this is somehow similar.

[2020-11-18 14:51] mitzeitundohne opened #48 "export/ import or display"
hi alex,

this was requested by someone else too: the option to change the values in mass is not given so far. neither in standard product import/export nor somewhere else i can add or remove locations and amounts.

there are 2 options to do so (maybe more...but this is that what comes to my mind right now):
1. make it available in standard product import/export csv and list all locations and amou

[2020-11-18 14:53] mitzeitundohne opened #49 "Change plugin settings location"
hi alex
another topic comes in my mind: why  you split the properties/seetings of you plugin to this different places? why you not just create an tab below "woocommerce" -> settings -> tab

i saw this several times and other plugins using it. with that you can place everything on the same area and dont need to search it. dont understand why you placed it in general settings and products. because i

[2020-11-18 20:56] alexmigf commented on #43
Hi @mitzeitundohne the #35 is different, not the same thing or related.

Can you please send me an [email](mailto:alexmigf@gmail.com)? I will send you a copy to test.

[2020-11-18 21:05] alexmigf opened #50 "Delete barcodes section from plugin"
Are there better alternatives for barcodes with much more features, let's focus on doing just stock locations management and improve it.

[2020-11-18 22:00] alexmigf commented on #35
Hi @WarenGonzaga , send me an [email](mailto:alexmigf@gmail.com) if you would like to test the fix.

[2020-11-19 08:32] WarenGonzaga commented on #35
Hi, @alexmigf I'm about to add automation to your build so everyone can test your builds easily without confusion. Yeah sure I will email you.

[2020-11-19 08:34] mitzeitundohne commented on #35
email done. curious to test it :)

[2020-11-20 09:14] tw1t611 opened #51 "stock locations not shown"
I am using PHP 7.4. Just installed the plugin.
Woocommerce > Settings > Products > Inventory > Inventory Management is checked.
A location in Products > Stock locations was added.

Now I want to add the stock location to a product, but under Simple Product > Stock Locations the following warning shows up:
"You need to add a stock location to this product."

Am I doing something wrong? Please tell

[2020-11-20 12:53] mitzeitundohne commented on #43
this is solved with latest update.

[2020-11-20 18:00] alexmigf commented on #51
Hi @tw1t611 did you added the location to the product in the sidebar (like categories)?

[2020-11-20 18:01] #43 closed

[2020-11-20 19:53] Mikee93 opened #52 "Update stock in one location"
Hey! im trying to update the stock from one location only, with the woocomerce API.

The problem is with i send the request to update the stock from "GDL" to 10, the stock from "GDL2" is deleted, i need to put the current stock in "GDL2" to work all together.

Any example to do this? thanks

[2020-11-21 22:53] WarenGonzaga opened #53 "Inaccurate Stock Reporting"
For example... I know the logic. It shows the item with the stock location.

![image](https://user-images.githubusercontent.com/15052701/99889349-2ce3bc80-2c8f-11eb-9d1d-7ddb0924547c.png)

However, it will result in confusion. I would suggest adding reports for each stock location just like what you see on the product list.
So the shop manager knows exactly what to buy first or add stocks to the l

[2020-11-24 15:08] tw1t611 commented on #51
I did, furthermore there is an error message:
https://snipboard.io/fCaGov.jpg

[2020-11-25 21:59] #35 closed

[2020-11-25 22:00] #39 closed

[2020-11-25 22:01] #31 closed

[2020-11-25 22:01] alexmigf commented on #31
Due to inactivity I'm closing this.

[2020-11-25 22:02] alexmigf commented on #27
https://github.com/alexmigf/stock-locations-for-woocommerce/pull/26

[2020-11-25 22:02] #27 closed

[2020-11-25 22:17] alexmigf opened #54 "Show stock value on Product location selection dropdown"
https://wordpress.org/support/topic/show-stock-on-dropdown/#post-13710009

[2020-11-25 22:32] alexmigf commented on #41
@WarenGonzaga can you please update the plugin to the last version?

Could you please describe the steps to replicate the issue? This happens with auto allocation enabled or manual allocation?

[2020-11-25 22:33] alexmigf commented on #42
I believe it's the same as #11

[2020-11-25 22:37] alexmigf commented on #16
Closing in favour of #48

[2020-11-25 22:37] #16 closed

[2020-11-25 22:39] alexmigf commented on #49
I agree that inside WooCommerce menu makes more sense.

[2020-11-25 22:49] alexmigf commented on #53
Hi @WarenGonzaga from which plugin is that screen?

[2020-11-25 22:52] alexmigf commented on #17
Closing in favour of #40

[2020-11-25 22:52] #17 closed

[2020-11-26 02:37] WarenGonzaga commented on #41
Hi @alexmigf, I'm using the latest plugin now. What I mean add a warning or error handling if the stock is insufficient in a stock location. This will prevent from having negative stock value.

[2020-11-26 02:38] WarenGonzaga commented on #42
probably but this is more specific. Add a way to transfer stock or edit stocks via the product list and order page.

[2020-11-26 02:39] WarenGonzaga commented on #53
I guess Woocommerce POS or is it from stock locations?

[2020-11-27 11:36] tw1t611 commented on #51
After migration to an other hoster, the error war gone.
But I still can't add locations to the product.
Anything new from your site?

[2020-12-01 08:21] jodzeee commented on #51
I found this confusing as well. Consider adding an arrow to the screenshot or a separate screenshot that makes it obvious where to add the locations. Or written instructions would help as well.

[2020-12-01 19:32] alexmigf opened #55 "Allow multiple email addresses in stock allocation notifications"
Ideally separated by comma.

https://wordpress.org/support/topic/e-mail-addresses-2/#post-13732183

[2020-12-01 19:43] alexmigf commented on #51
Hi @jodzeee sure, that's a great idea!

[2020-12-01 19:44] alexmigf commented on #51
@jodzeee please contact me by [email](mailto:alexmigf@gmail.com), I will try to help you there.

[2020-12-02 09:54] tw1t611 commented on #51
@jodzeee wow, now I got it. Thank you very much.
@alexmigf sorry for the noise. Was just my fault.

[2020-12-02 09:54] #51 closed

[2020-12-04 17:33] alexmigf commented on #53
Not this plugin for sure. I have reports planned, but probably will have to wait a bit more.

[2020-12-04 17:34] alexmigf commented on #41
I can't replicate that issue (negative stock values)

[2020-12-05 15:35] marcelobaez commented on #54
Sorry if I'm being rude or not pollite, but whats the the point of having locations if the user select a quantity that exceeds the location stock?

[2020-12-06 20:08] exscizo opened #56 "stock reduction -2"
hi,
When i receive an order, i go to that order and do 1 on the article. what happens is, the location itself goes -1 but the normal stock goes -2.

[2020-12-08 22:19] alexmigf commented on #54
Hi @marcelobaez the plugin will allow you to do that. In the cart will only show the locations that have stock available for the item quantity, in the product page it will auto select a location with stock available if the quantity is higher for the user selected location.

[2020-12-08 22:21] alexmigf commented on #56
Hi @exscizo which version of the plugin are you running?

[2020-12-08 22:30] alexmigf commented on #10
Already fixed in previous release.

[2020-12-08 22:30] #10 closed

[2020-12-08 22:39] #49 closed

[2020-12-08 22:42] alexmigf commented on #52
Hi @Mikee93 I believe you need to keep the other locations with their values in the JSON even without updating them.

[2020-12-08 23:30] exscizo commented on #56
1.3.2

[2020-12-10 11:18] WarenGonzaga commented on #41
Hi @alexmigf,

Basically, the point is add a warning if you are about to allocate the order in a less stock allocation.
In my case, the there is no Warning upon allocating the stocks to the less stock location based on order.

Got the idea or need example?

[2020-12-10 11:18] WarenGonzaga commented on #56
This is the same issue with #41

[2020-12-10 11:19] WarenGonzaga commented on #56
The stock allocation should warn the user if the stock allocation has no stock at all.

[2020-12-15 21:13] alexmigf commented on #41
Hi @WarenGonzaga the plugin doesn't allow you to allocate more quantity then the available for the location, that's why I'm not understanding. Can you provide an example?

[2020-12-15 21:29] #52 closed

[2020-12-15 22:13] #50 closed

[2020-12-16 08:09] WarenGonzaga commented on #41
I'll send you an email for the sample installation with the same issue.

[2020-12-18 22:12] rickyruns opened #57 "Import/Export csv"
Hallo Alexandre,
your plugin is really good. I need to import & export products with location.
I use the standard function in woocommerce products, so i found necessary metas for stock, that works
Meta: _stock_at_1
Meta: _stock_at_2
Meta: _stock_at_3

I think, it is also important for visibility to write the location in csv.  i mean the field in the product-dropbox on the right side "location" in

[2020-12-21 20:13] alexmigf commented on #57
Same as #48

[2020-12-21 20:13] #57 closed

[2021-01-08 19:02] swagatac11 opened #58 "Location pages not working"
I am trying to view each location page but it is giving a 404 error.

http://massystores.wpengine.com/location/massy-stores-supercentre-warrens/

This is an example. Please help resolve hte problem.

[2021-01-08 19:10] alexmigf commented on #58
@swagatac11 I believe you need to create a template, see docs: https://developer.wordpress.org/themes/template-files-section/taxonomy-templates/

[2021-01-08 19:43] swagatac11 commented on #58
I need to create a custom template? Is there a shortcode to list the products per location?

[2021-01-09 06:44] erwincaloing opened #59 "Stocks Location for Woocommerce"
Hi. I  encounter a problem.
The QTy was deducted from different location.
I need to deduct qty base on the selected location.

Thanks in advance

[2021-01-09 13:40] swagatac11 commented on #58
Hi please help me out here. I want to list products in the frontend by location. How can I do that?

[2021-01-11 00:07] erwincaloing opened #60 "Auto reduction on different Location"
I've set the 1 location per cart, then the customer choose only 1 location he wants.
But at the backend the order deduct on different location. Notes: I've set the required location

Please help.

[2021-01-12 08:23] NariyalWala commented on #60
@erwincaloing I'm facing the same issue.

When you choose multiple products do all of them deducted from the same location or different? Can you confirm this? It will provide better clarity to @alexmigf

[2021-01-12 08:53] erwincaloing commented on #60
Yes, correct.. How to required also the select location when the user wants
to direct check out without click View Cart

On Tue, 12 Jan 2021 at 16:23, NariyalWala <notifications@github.com> wrote:

[2021-01-12 08:54] erwincaloing commented on #60
Deducting from a different location when the user directed to check out.

On Tue, 12 Jan 2021 at 16:53, Erwin Caloing <erwincaloing@gmail.com> wrote:

[2021-01-15 08:54] despecial opened #61 "Stock item count positive but unable to add to cart"
I am not sure if this has something to do with the WC stock meta but here are some screenshots attached.

In the backend the stock says 1 item left for size M or L
But when we try to add it to the cart none functions and on M our “out of stock” notifier shows up as if it only sees that for that size but not the others.

<img width="566" alt="Bildschirmfoto 2021-01-15 um 09 47 26" src="https://user

[2021-01-15 09:02] despecial commented on #61
Since it's a variable product I just checked the other tab and there we have different quantity settings, unable to change them. (disabled)

<img width="1167" alt="Bildschirmfoto 2021-01-15 um 10 02 20" src="https://user-images.githubusercontent.com/4135109/104704322-c91ec280-5718-11eb-9b8c-3e5c4269a930.png">

Any idea how to fix this and why it is happening?

[2021-01-15 09:14] despecial commented on #61
More digging and searching other forums shows that one thing helps:
- disable inventory management on the product level

But there is still a problem: now the item is globally marked as out of stock even though 2 items are left

[2021-01-15 14:14] despecial commented on #35
I would also appreciate to test this or get a release date 👍

[2021-01-15 19:07] alexmigf commented on #58
@swagatac11 contact me by [email](maulto:alexmigf@gmail.com) please.

[2021-01-15 19:07] #58 closed

[2021-01-15 19:13] alexmigf commented on #60
@erwincaloing auto order allocation is enabled for the location choosed by the client and the other from the stock was deducted?

[2021-01-15 19:16] alexmigf commented on #59
Same https://github.com/alexmigf/stock-locations-for-woocommerce/issues/60

[2021-01-15 19:16] #59 closed

[2021-01-15 19:20] alexmigf commented on #61
@despecial it seems that you have the variation global stock set as 0, please update the product post to update the levels.

[2021-01-15 19:25] despecial commented on #61
@alexmigf so the correct setting is on the inventory tab to disable the inventory management and set the global stock for the location manually (I assumed your plugin calculates that and updates it)?

<img width="936" alt="Bildschirmfoto 2021-01-15 um 20 24 13" src="https://user-images.githubusercontent.com/4135109/104769587-d1561c80-576f-11eb-92eb-323e9c9c31c3.png">
<img width="710" alt="Bildschi

[2021-01-15 19:30] alexmigf commented on #61
@despecial product stock management must be enabled, and the plugin takes care of it.

[2021-01-15 19:31] despecial commented on #61
As mentioned before: it doesnt.
If we enable it, your plugin will reduce correctly from the single quantity count of the variable product but not update the WC stock count. its automatically "out of stock" even thought there are still items left.

[2021-01-15 19:34] alexmigf commented on #61
@despecial that's not normal. Can you [send me an email](mailto:alexmigf@gmail.com)? I will need a temporary access to see that.

[2021-01-15 19:37] despecial commented on #61
Got mail. Thanks for investigating...

[2021-01-18 00:45] erwincaloing commented on #60
Nariyalwala, same location

[2021-01-19 19:36] alexmigf commented on #60
@erwincaloing can you answer my previous question too?

[2021-01-19 19:42] #56 closed

[2021-01-20 00:41] erwincaloing commented on #60
Yes @alexmigf , and Sometimes no green color label, like Client "Choosed location". then deducted from other location.

[2021-01-20 17:43] WarenGonzaga opened #62 "New stock update not able to add to default stock location"
Where to find or where to enable default stock location whenever a new update in stock level occur.

[2021-01-20 17:59] alexmigf commented on #62
Hi @WarenGonzaga you have to set the priority under each location settings.

[2021-01-20 18:07] alexmigf opened #63 "Restore location and product stocks on refunds"
Restore location and product stocks on refunds.

[2021-01-20 18:09] WarenGonzaga commented on #62
Where to edit the priority?

[2021-01-20 18:17] alexmigf commented on #62
Should be at **Products > Stock Locations > Edit location > Location priority**

[2021-01-20 18:26] alexmigf commented on #60
Hi @erwincaloing can you [email me](mailto:alexmigf@gmail.com)? Can't replicate this issue.

[2021-01-20 19:06] #54 closed

[2021-01-20 20:40] despecial commented on #63
If it is not too much to ask, also add this for cancelled orders.

[2021-01-20 21:46] alexmigf commented on #63
@despecial  for cancelled orders should work.

[2021-01-20 21:49] despecial commented on #63
Good to know. One step less to go

[2021-01-20 21:58] alexmigf opened #64 "Trigger locations stock reduce from order meta box"
Create a meta box with a button to trigger the locations stock reduce if something went wrong with the auto allocation.

[2021-01-21 10:19] WarenGonzaga commented on #62
The issue is the only I can see is the slug option... no location priority.

[2021-01-21 19:10] alexmigf commented on #62
Which version of the plugin are you running?

[2021-01-21 23:16] despecial commented on #61
Maybe you can use WooCommerce functions to update the main stock
https://github.com/woocommerce/woocommerce/blob/db3a78d7c70d4d9abcc313047bea260490a93a12/includes/wc-stock-functions.php#L152

`$new_stock = wc_update_product_stock( $product, $qty, 'decrease' );`

[2021-01-22 00:47] erwincaloing commented on #60
Hi Sir.

I found the error,.

This is the scenario.

See my Settings on your Plugins

Show location selection in cart = YES

Make location selection in cart required. = Checked

Different location per cart item = NO

Show location selection in product page = NO

Show stock quantities in location selection in frontend = Checked

Auto delete unused product locations meta = none

Include location dat

[2021-01-22 00:56] erwincaloing commented on #60
Hi Sir... deducted from different location.. but now

I found new error,.

This is the scenario.

See my Settings on your Plugins

Show location selection in cart = YES

Make location selection in cart required. = Checked

Different location per cart item = NO

Show location selection in product page = NO

Show stock quantities in location selection in frontend = Checked

Auto delete unused produc

[2021-01-22 01:06] erwincaloing commented on #60
[image: image.png]
The top image: After clicking the Shipping option the Proceed to Checkout
button was ENABLED even  the required location not selected Yet
[image: image.png]
I tried to create multiple order but 1 location only  for this cart. but
still i can select different location.

See my sample attached image

On Fri, 22 Jan 2021 at 08:55, Erwin Caloing <erwincaloing@gmail.com> wrote:

[2021-01-22 22:17] alexmigf commented on #60
@erwincaloing is fixed, should be available in the next version, I will try to release as soon as possible.

[2021-01-22 22:17] #60 closed

[2021-01-22 22:35] #61 closed

[2021-01-22 22:37] #53 closed

[2021-01-22 22:39] alexmigf commented on #44
Already available in the plugin settings, closing...

[2021-01-22 22:39] #44 closed

[2021-01-22 22:41] alexmigf commented on #41
I didn't receive any email about this issue.

[2021-01-23 16:33] WarenGonzaga commented on #41
@alexmigf I guess its all good for now...

[2021-01-23 16:38] #41 closed

[2021-01-25 11:36] NariyalWala commented on #63
Looking forward to this one!

[2021-01-28 12:47] brendangoosen opened #65 "No notification emails are sent to the warehouse"
Hi There

Notification emails aren't being sent when auto order allocate is selected. I am not setting a priority. WooCommerce notification emails are working fine though.

[2021-02-01 18:40] alexmigf commented on #65
@brendangoosen are you able to see the email log using a third party plugin like this one? https://wordpress.org/plugins/post-smtp/

[2021-02-01 20:01] brendangoosen commented on #65
Thanks Alexandro, I will give that a try and get back to you.

Sent from my iPhone

[2021-02-03 22:53] ermosa opened #66 "Main stock not deducting"
I´m having an issue that location stock can be deducted, but WC´s main stock remains the same.

Conditions/set up:
The store is not multivendor,
all products are simple products,
location stock is deducted in the backend by the store manager who decides from where an order should be shipped,
running SLW latest version (1.4.3)
running WP 5.6.1

Example of successful scenario:
the order comes in; th

[2021-02-04 21:42] alexmigf commented on #66
Hi @ermosa , thank you for reporting this!

I have found the culprit, just need some time to think the better way to address this fix. I will return back to you as soon as possible.

[2021-02-04 21:59] alexmigf commented on #66
@ermosa [send me an email](mailto:alexmigf@gmail.com) so I can send you a copy for testing.

[2021-02-04 22:24] #65 closed

[2021-02-04 22:27] alexmigf opened #67 "Create setting to allow predefined locations in frontend"
Create a setting to allow predefined selected locations in the frontend.

[2021-02-05 07:49] robinv12010 opened #68 "Stock Location Queries"
Hi Alex,

Is there any way to allocate locations to a Zone in this plugin?
We can treat the state as one zone .All warehouse locations  under that state can be treated as a location and assign to that state(Zone).

How we can fulfil stock items from a particular warehouse location based  on Woocommerce checkout shipping address?
We need to find the warehouse locations  in that shipping state and f

[2021-02-11 19:14] alexmigf opened #69 "Setting to prevent auto allocation to deduct from another location when first reaches 0"
Forum topic: https://wordpress.org/support/topic/when-sold-out-stock-draws-from-other-location/?view=all#post-14038000

[2021-02-11 19:23] alexmigf commented on #68
Hi @robinv12010

Please use the [WP.org forums](https://wordpress.org/support/plugin/stock-locations-for-woocommerce/?view=all) for questions, Github is only for issues.

Thanks!

[2021-02-11 19:23] #68 closed

[2021-02-11 19:27] alexmigf opened #70 "Make shortcode on variable products sync with variable selection"
Make shortcode on variable products sync with variable selection.

[2021-02-12 13:45] matthijs166 opened #71 "_stock_status goes always to onbackorder even when product is in stock"
Hey there!

I love this plugin!

The problem I am having is that when a product is in stock and the backorder is allowed then de stock status is always going default to onbackorder. This needs to be instock if there is stock available. Only when there is no stock the status has to be onbackorder

This is also the default woocommerce behavior.

I have made a pull request to fix the issue. #72

[2021-02-14 09:23] mtsport opened #73 "pending order is not active, reduces stock"
Hi,

Problem with pending orders, product stock is discounted.

Thanks.

[2021-02-14 11:27] alexmigf commented on #73
Hi @mtsport can you share a screenshot of the order details?

[2021-02-15 18:08] alexmigf commented on #71
Hi @matthijs166 thanks for your reporting! I didn't merge your code but I have fixed the issue based on it. It should be available in the next release.

[2021-02-15 18:08] #71 closed

[2021-02-16 07:15] mtsport commented on #73
Hi,

Hold stock disable:
![Hold stock](https://user-images.githubusercontent.com/575881/108029951-f8647000-6ff3-11eb-966a-8dacbe53e3e9.JPG)

I have the configuration to automatically assign the stock, it should not discount the stock since it is in pending payment status.
![Pending payment](https://user-images.githubusercontent.com/575881/108029776-b3d8d480-6ff3-11eb-868a-d994419bf0c0.JPG)

Regard

[2021-02-16 13:46] dtejeda99 opened #74 "Not default location selected on simple products page only"
Hi,

Alex;

On simple products page, default location is not being selected by default.  Please see screenshots bellow:

Thanks,

Donny Tejeda

![Screenshot 2021-02-16 094315](https://user-images.githubusercontent.com/79149583/108070962-844dba80-703b-11eb-8279-7eed82c2a839.jpg)
![Screenshot 2021-02-16 094241](https://user-images.githubusercontent.com/79149583/108070964-857ee780-703b-11eb-9dc9-ecb5

[2021-02-23 18:36] alexmigf commented on #74
@dtejeda99 not supported yet, but I will add that as soon as possible.

[2021-02-23 19:20] alexmigf commented on #74
Maybe the same as #67

[2021-02-23 19:25] dtejeda99 commented on #74
Thanks a lot.

[2021-02-24 06:43] erwincaloing commented on #60
Hi any updates sir alexandre faustino

My second concern is, how to update the stocks on specific locations, using
php codes. may i know the database table stored the location name? so that
i can update it based on my php codes. Thanks
[image: image.png]

On Sat, 23 Jan 2021 at 06:17, Alexandre Faustino <notifications@github.com>
wrote:

[2021-02-25 17:38] alexmigf commented on #60
Hi @erwincaloing the locations stock is saved in the `postmeta` table with the key: `_stock_at_ID`

[2021-03-01 22:38] alexmigf commented on #22
Hi @MarekBylica are you able to test using WPML?

[2021-03-03 18:43] Azrideus opened #76 "Decrease quantity even before selecting location in order?"
When a user creates a new order, if I dont select which storage to decrease quantity from, it wont decrease quantity at all , so other customer can buy sold out items !

[2021-03-03 23:08] alexmigf commented on #76
Hi @Azrideus you can enable the auto allocation in the location settings.

[2021-03-04 12:52] probaz commented on #74
hie @alexmigf how do i display products of a single location on a page?

[2021-03-04 17:59] alexmigf commented on #74
Hi @probaz , can you please ask in the [forums](https://wordpress.org/support/plugin/stock-locations-for-woocommerce/?view=all)? Not much related with this issue.

[2021-03-12 20:49] dtejeda99 commented on #74
Hello, Alex.  Do you have an estimate of the time will take for this point to be supported?

[2021-03-12 23:22] dtejeda99 opened #77 "Out of stock status in front end even though there are stock available in warehouse location"
Hi,

Out of stock status in front end even though there are stock available in warehouse location. Is required to update twice in wordpress product backend for status to update correctly.

Please find screenshot attached with issue highlighted in red.

Thanks,

Donny Tejeda

![Out of stock status even though there area stock available in warehouse location](https://user-images.githubusercontent.co

[2021-03-13 22:15] JUST1UNO commented on #77
I have the same problem, is there any quick fix for this? Not cool

[2021-03-15 22:09] alexmigf commented on #73
@mtsport can you send me an [email](mailto:alexmigf@gmail.com) so I can send you a new version for testing?

[2021-03-16 18:08] alexmigf opened #79 "Replace ID with slug location for item meta"
From the beginning of this plugin the item meta has been always `_stock_at_ID`, but some users would benefit if instead of using the ID we use the term slug. Term slugs are also unique per setup, so would be good to replace that. Backwards compatibility must be granted, doing a migration or creating a function that does the conversion.

[2021-03-16 18:11] #76 closed

[2021-03-16 18:13] alexmigf opened #80 "Products showing out of stock with stock available"
For some reason when adding new products with stock and saving, the product still showing out of stock in the products listing.

[2021-03-16 18:25] alexmigf commented on #74
Hi @dtejeda99 I will see if I can do that for the next release.

[2021-03-16 19:01] probaz opened #81 "product page for each location"
How can i set products on a page for a single location

[2021-03-16 19:41] alexmigf commented on #81
Hi @probaz you need to create a template for the location term: https://developer.wordpress.org/themes/template-files-section/taxonomy-templates/

[2021-03-16 19:49] alexmigf opened #82 "Select shipping based on selected location"
Would be good to have the Shipping based on the selected location. This should work only when multiple locations selection is disabled in the plugin settings.

Forum topic: https://wordpress.org/support/topic/shipments-based-on-stock-location/?view=all

[2021-03-16 20:11] probaz commented on #81
Thank you do @***@***.***> do you have an example of what you are saying?

Probity Mutsambiwa
Web Developer

________________________________

21 Lawson Ave/Prince Edward St,
Milton Park,Harare, Zimbabwe
Tel : +263 772 162 686/8
VoIP : +263 772020 264
M : +263 774387428

________________________________
From: Alexandre Faustino ***@***.***>
Sent: 16 March 2021 21:41
To: alexmigf/stock-locations-fo

[2021-03-16 21:40] #80 closed

[2021-03-16 21:43] #66 closed

[2021-03-16 21:44] #62 closed

[2021-03-16 21:46] alexmigf commented on #48
Import/export add-on is now available from the free plugin by donation.

[2021-03-16 22:11] alexmigf commented on #77
@dtejeda99 or @JUST1UNO if you would like to test a fix please [email](mailto:alexmigf@gmail.com) me.

[2021-03-16 22:27] alexmigf commented on #74
@dtejeda99 I believe that the default category is a feature from Yoast plugin and not properly from WordPress.

[2021-03-17 02:00] dtejeda99 commented on #74
Hi,

Alex;

This is the default location in the product page editor.  The location is added after installting stock for locations plugin.  Do you think this issue is related to YOAST SEO plugin?

Product page - backend

[cid:06acb42f-3164-48ad-94bb-2b05009d96ca]

Product page - Front end

[cid:d1b1dc13-e903-49c2-a1b8-00f5073bf6aa]

Regards,

Donny Tejeda

________________________________

De: Alex

[2021-03-17 19:36] alexmigf commented on #74
@dtejeda99 can't see the images.

What I see is, by default WordPress doesn't have the "Make default" setting for categories/locations, this just shows when you have Yoast installed.

[2021-03-17 23:37] dtejeda99 commented on #74
That't right.  I just disabled the Yoast SEO plugin and the make default category is not in product editor in backend anymore.  So that means that make default (from Yoast SEO) really doesn't make any change for locations selection in front end.  I see that the stock locations plug in selects by default a location with stock.

________________________________
De: Alexandre Faustino ***@***.***>
En

[2021-03-18 17:23] alexmigf commented on #74
@dtejeda99 I'm implementing a solution for that, will be available in the next release.

[2021-03-18 22:28] alexmigf commented on #74
@dtejeda99 send me an [email](mailto:alexmigf@gmail.com) if you would like to test the new feature.

[2021-03-19 18:23] #77 closed

[2021-03-19 18:32] #22 closed

[2021-03-19 18:35] #73 closed

[2021-03-19 19:25] #67 closed

[2021-03-19 19:25] #74 closed

[2021-03-22 15:33] shanerutter commented on #79
Good to note, terms naming may change, where as ID wont. It is also possible to change the slug of a term which means there would need to be in-depth clean up processes to update now invalid meta data.

Maybe Internally its all handled via ID but there is a function to get the stock via the term slug. Somthing like.

`$object->stockAt('location-1');`

[2021-03-22 21:12] alexmigf commented on #79
You're right, great point and suggestion.

[2021-03-28 16:24] RainbowRailways opened #88 "Create Stock location that does NOT add to total Inventory"
Hi
Would it be possible to have a a stock location that does not add to the total inventory - ie not for sale at this time.
We use auto allocate on 2 locations which is fine, but we would like a 3rd 'Underground' location where we keep a note of additional stock, but its not currently for sale.

Kind Regards

Colin

[2021-03-29 13:50] 1908816-xamk opened #89 "Conflict with WISDM Lab's Customer Specifig Pricing (CSP) -plugin"
Hello,

I found a conflict with using CSP and Stock Locations plugins together.

This shows up when trying to modify Stock Locations tab in the single product edit view. There will be no options to select.

It seems to caused by the following function in the CSP:

jQuery('.csp_wdm_action').live('change',function()

So it's probably not an actual bug in the Stock Locations, just FYI.

[2021-03-30 19:12] alexmigf opened #90 "Allow editing location values on orders after being reduced"
Currently is not possible to edit the location value after the order reduced the stocks.

Forums topic: https://wordpress.org/support/topic/edit-stock-after-complete-order/?view=all#post-14256093

[2021-04-01 17:19] WarenGonzaga commented on #37
Hi @alexmigf, where can I found those lines to edit the styles?

[2021-04-01 17:19] WarenGonzaga commented on #37
Also, as additional can you please assign this task for me?

[2021-04-01 17:21] WarenGonzaga opened #91 "FontAwesome Issue"
Yes, I use it on my client and for some reason there is no icon showing on it. To resolve the issue I have to install this plugin from fontawesome. https://wordpress.org/plugins/font-awesome/ I guess you need to implement the same technique used in this plugin to the plugin.

[2021-04-01 17:25] WarenGonzaga opened #92 "Broken Settings Page"
![image](https://user-images.githubusercontent.com/15052701/113331303-5d7ce680-9352-11eb-971d-7d21da443742.png)

[2021-04-05 17:14] alexmigf commented on #91
Hi @WarenGonzaga which icon are you referring to?

[2021-04-05 17:15] alexmigf commented on #92
I don't have any issues there, probably some CSS conflict with other plugin. Please email me to see that.

[2021-04-05 17:29] WarenGonzaga commented on #91
This one @alexmigf see pic below.

![image](https://user-images.githubusercontent.com/15052701/113604169-77326c80-9677-11eb-9939-9ed1e88771f5.png)

[2021-04-05 17:30] WarenGonzaga commented on #92
Might be, I would suggest use prefix on your CSS to prevent conflict with other CSS from other plugins.

[2021-04-05 17:33] alexmigf commented on #91
Again, I'm not having any issues locally with that, I assume you have some CSS conflicts there.

[2021-04-05 17:34] WarenGonzaga commented on #91
Yup, however I still report it so if anyone come across the same issue they can fix it immediately.

[2021-04-05 17:34] #91 closed

[2021-04-05 17:36] alexmigf commented on #92
It is using: https://github.com/alexmigf/stock-locations-for-woocommerce/blob/53642600be6533ba41696b550c98d24634f11e60/src/assets/css/admin/style.css#L37

[2021-04-05 17:36] WarenGonzaga commented on #92
weird, I'll investigate it...

[2021-04-05 17:44] WarenGonzaga commented on #92
@alexmigf for some reasons the stylesheet does not being loaded in admin area.

[2021-04-05 18:38] boelle commented on #40
cant wait for this one,

but then what if the warehouse is sold out and there is one in the next town over

[2021-04-14 16:30] Salvo94 opened #93 "Pick quantity from stock location after an order is placed"
Hello, first this plugin is awesome for managing multi location stores!
But i have a little issue in a use case:
1) An user place an order and choice a location -> this is ok
2) The administrator check the order details and it appear the page for subtract quantities from a location. (check the attached image)
3) When the administrator type the quantity to subtract and update the order status, afte

[2021-04-14 17:23] alexmigf commented on #93
@Salvo94 answered by email, closing this.

[2021-04-14 17:23] #93 closed

[2021-04-20 18:51] alexmigf opened #94 "Product list stock filter not working properly"
The WooCommerce product listing stock filter doesn't seem to be working correctly with this plugin installed:

![Captura de ecrã de 2021-04-20 19-51-15](https://user-images.githubusercontent.com/533273/115448623-cc42b680-a211-11eb-9ffe-f9f08e873ce0.png)

[2021-04-20 19:01] alexmigf opened #95 "Hability to edit stocks in order after deduction"
Currently is not possible to edit stocks after the order item deduction. Would be good to have an option to revert/edit the quantity for each item location.

[2021-04-21 04:14] WarenGonzaga commented on #92
@alexmigf closing this as it is already fixed.

[2021-04-21 04:14] #92 closed

[2021-04-21 05:37] WarenGonzaga opened #96 "Unable to Allocate"
Hi @alexmigf for some reason after the update, I'm not able to allocate from the orders page.

[2021-04-21 05:46] WarenGonzaga commented on #96
Here's the current error log I have...

[code]

What do you think @alexmigf?

[2021-04-21 21:02] alexmigf commented on #96
@WarenGonzaga it's strange, but I don't see a correlation to this plugin. See here: https://serverpilot.io/docs/how-to-increase-max_input_vars/

[2021-04-21 21:07] WarenGonzaga commented on #96
Yeah already do that... I actually emailed you regarding the issue.

[2021-04-21 21:18] alexmigf commented on #96
Ok, the other I can see, but it seems not related to me, but we continue in email.

[2021-04-23 20:41] WarenGonzaga commented on #96
This is confirmed fixed! Thanks @alexmigf !

[2021-04-23 20:41] #96 closed

[2021-04-27 20:38] alexmigf opened #97 "Add new setting to sum main stock including variations stock"
By default the main product has it's own stock + locations stock, and variations have their independent stock + locations stock, this means that the left total stock shows only the main product stock excluding the variations total stocks:

![unnamed](https://user-images.githubusercontent.com/533273/116309597-db40e000-a7a0-11eb-84f2-82b43390baab.jpg)

Would be good to have a setting to override thi

[2021-04-29 21:27] alexmigf opened #98 "Default location lock is not respected on cart for variations"
If the settings default location and lock are enabled, on cart the variations default location is not respected.

[2021-05-05 06:04] LeonMueller-OneAndOnly opened #99 "Rest-API-Integration"
Hello,

First of I want to thank you for this project. I am currently developing a frontend interface, in which I want to enable the creation of products. My problem is that I am not able to create or update the products locations via a REST-API.

What I have tried:
- When creating a product via the /wp-json/wc/v3/products/ endpoint (POST) passing locations as a URL-parameter with the following ar

[2021-05-05 20:23] RainbowRailways commented on #98
Is this bug linked to the behaviour I am currently seeing where I have 'auto order allocate' turned on 2 locations, but it does not respect the order in 'Location priority' to deduct the stock from first? It seems to default to first location ID number order

[2021-05-06 12:11] alexmigf commented on #99
Hello Leon,

First I would add a product manually and assign a location and stock to see
the output from the API, then with that you know how to insert and update
it. Currently doesn't accept the POST request, so probably will not work
for new products.

Kind regards
Alex

LeonMüller - OneAndOnly ***@***.***> escreveu no dia quarta,
5/05/2021 à(s) 07:04:

[2021-05-07 07:47] fredrikat opened #100 "Stock not deducted for variable products with "Enable stock management at product level" checked"
For one of our variable products, we are doing pre-orders, thus we have enabled stock management at product level and added available qty to the product (i.e. not the variation).

For some reason stock is not deducted when we sell these items. Is it a bug or an edge case that has been scoped yet?

[2021-05-15 00:01] josuelony opened #101 "Select warehouse for entire shop page"
Is it possible to select the location first and then only show products that are available into that specific location?

So for example I have product
A [Spain, Germany, US]
B [Germany,US]

So I select my location to be "Spain", on the shop page only will show my product "A"

Is that possible with the plugin?

[2021-06-08 12:22] kevinBeltrame opened #102 "doubt about how to automate the stock"
Hello, how are you ?
I wanted to know if the location of the product could be automatic where the user does not choose from where but is already automatically deducted from his country without any choice

[2021-06-30 20:05] alexmigf commented on #102
Hi @kevinBeltrame, currently is not possible. Please follow this issue: https://github.com/alexmigf/stock-locations-for-woocommerce/issues/40

[2021-06-30 20:05] #102 closed

[2021-06-30 20:20] alexmigf commented on #101
Not yet, you can follow this issue: https://github.com/alexmigf/stock-locations-for-woocommerce/issues/40

[2021-06-30 20:20] #101 closed

[2021-07-08 10:08] vincekiel opened #104 "Variable product with 0 stock still lists as available"
Stock Locations for WooCommerce 1.5.2
Woocommerce 5.4.1
Wordpress 5.7.2

Not sure if feature request or bug: If I change all stock amounts of a product in the backend to 0 and save, the variation is still available to chose in the frontend but it says "0 available" (in German 0 vorrätig).
How can I prevent those variations from showing up in the frontend.

If the amount decreases because the varia

[2021-07-12 13:42] simsil64 commented on #35
Hi Alex,

Was this fix released ?

[2021-07-13 06:23] WarenGonzaga commented on #35
Yes already fixed it.

[2021-07-13 09:17] simsil64 commented on #35
Hi Alex,

I'm just looking at another related problem which is that stock is not put
back when an item is refunded. Can you please confirm whether that is part
of the functionality of this plugin currently. ?

Thanks for your help.

Regards
Simon

On Tue, Jul 13, 2021 at 7:23 AM Waren Gonzaga ***@***.***>
wrote:

[2021-08-05 21:05] alexmigf commented on #104
Hi @vincekiel , the variation has stock?

[2021-08-05 21:18] alexmigf commented on #35
@simsil64 not yet implemented https://github.com/alexmigf/stock-locations-for-woocommerce/issues/63

[2021-08-05 21:31] alexmigf opened #105 "Bug on cart page, location selection is ignore on updating cart quantities"
Make location selection in cart required [YES]
Make location selection in cart required. [CHECKED]

Topic: https://wordpress.org/support/topic/bug-on-cart-page/?view=all

[2021-08-06 22:51] dendyaziz opened #106 "Main stock not increased when order is canceled"
This plugin is incredible, free and just works.

I'm using this plugin combined with [WooCommerce Cancel Abandoned Order](https://github.com/rvola/woo-cancel-abandoned-order).

Once the order is canceled, the stock is returned to the correct location. But unfortunately not increasing the main stock.

![Screen Shot 2021-08-07 at 05 39 00](https://user-images.githubusercontent.com/35209381/128577703

[2021-08-16 15:17] gferguson78 opened #107 "Stock isn't automatically allocated for manual orders"
Hi there,

We will quite often create a manual order within WooCommerce for a customer and then send them over the payment link to allow them to pay for it directly from that link.  When we do this though the stock doesn't automatically get deducted in the way that it usually does for any order placed directly through the site.  It just gives me a warning on the order page and product pages saying

[2021-09-17 07:56] amazlomi opened #108 "Decimal quantity"
Dear Alexandre,
First of all, I would like appreciate for your best plugin. Since my store use decmial for products quantity, could you please let me know how can I change it to accept decmial.
I have already installed decimal plugins which let me have decimal quanitities. But when I come to use this plugin, it does not accept even to update decmial quantities under location tab in products. In ad

[2021-10-09 09:04] Lagiulsss opened #109 "ACF in each Product each Location"
Hi,

thanks for the plugin, is great!
Do you think is possibile to add custom field with ACF pro for each location in the product page (simple and variations)?
I would like to add few other fields like the supplier_sku, purchased_price and few others...I'm trying but no results

Thank you!

[2021-10-19 08:39] IHEnan99 opened #110 "How to show different price for different warehouse on same product?"
Hi hope you are doing well. I like your plugins idea and I think your plugin can also fulfil my requirements. Can you let me know if your plugin offers the functionality to set different price for same product for different warehouse?

[2021-10-28 15:14] ysaellisa opened #111 "Default location stock"
Hello
We have two location stocks for our products, we need one to be always used by default and the other one to be used if the first one is empty, I can't find the way to do that, could you please help me to resolve that ?
Thanks by advance,
Ysabel

[2021-11-05 13:08] baxterjones commented on #48
Hi
Looking for a way to find the meta key for stock locations.
When exporting my orders into csv, I'd like to include a column to display "Stock fulfilled from" with [Stock-location] name.
Any idea where I can find this?

[2021-11-08 07:01] tomkolp opened #112 "PHP 8.012"
"Inventory" in locations on the product page is not working.

[2021-11-17 21:44] wdm-janis opened #113 "Total stock update after WP ALL import"
Problem with Total Stock update after WP All Import. We can setup locations stock count, but we never get total stock count. Only after hitting update button we can get total stock count.

[2021-11-18 09:47] pacmanito opened #114 "Deprecated jQuery in scripts.js"
Deprecated jQuery.fn.change() event shorthands are used several times in scripts.js.
Of course this is a very minor issue as jQuery is not going to remove these shorthands anytime soon but it's still better to replace this code with a modern version.

[2021-11-18 16:24] pacmanito commented on #90
This one is a very important feature cause many store owners would use automatic stock allocation but from time to time change the allocation manually due to some reasons. Now to do that we need to change the order status to pending and back to processing which can result in many unwanted consequences (the most obvious one is emails sent to buyers).

[2021-11-18 16:26] pacmanito commented on #106
I can confirm that the main stock is not changed after order cancellation. This is definitely a bug.

[2021-11-27 11:36] pacmanito commented on #114
Fixed here - https://github.com/fahadmahmood8/stock-locations-for-woocommerce/commit/95ff33a690ff63bbe99d7429c3369949a9bc5aa2

[2021-11-27 11:36] #114 closed

[2021-12-01 23:15] gferguson78 opened #117 "Stock locations not being updated on order when status is changed"
Hi there,

I've noticed an issue on our site that happens whenever I manually change the status of an order - the stock locations are not automatically updated.  I'll try and explain the issue - this has only been tested with auto-allocate enabled as that is what we use.

If an order is already in status 'processing' and stock has been automatically allocated - when I then change the status to 'pe

[2021-12-02 10:58] fahadmahmood8 commented on #117
Dear Gordon,

I will start working on the issues related to stock locations plugin soon.
I appreciate that you offered the dev site access for testing the reported
issues. Please wait a little more as I am completing another task and soon
will be with you.

On Thu, Dec 2, 2021 at 4:15 AM gferguson78 ***@***.***> wrote:

--

Thanks,

Fahad

[2021-12-02 13:21] gferguson78 commented on #117
Thanks Fahad,

That's great to hear. If I can help at all please let me know. I've already setup a fairly basic 'smart' order allocation system for the plugin that checks stock availability over both our branches and it can then allocate stock to a single branch if they have everything in the order in stock.

Gordon

[2021-12-06 21:58] gferguson78 commented on #117
Just a quick update on the issue I'm having with stock being allocated to orders which are pending payment.  It seems that stock is being allocated to orders too early in the sales process.  Stock is allocated and reduced using the 'woocommerce_new_order_item' hook which is triggered whenever an order is created.  I believe the default behaviour for WooCommerce orders is that stock is allocated an

[2021-12-07 20:15] #105 closed

[2021-12-09 07:23] chirtanjit88 opened #118 "Total Stock Quantity Not Updated After Putting the inventory for different location"
![image](https://user-images.githubusercontent.com/58851324/145351989-512ebc59-3c4b-459a-b04c-73f1475a5698.png)

[2021-12-09 09:49] fahadmahmood8 commented on #118
Please let me know the version number you are using, I tried on my copy and it is updating on product update button. Please help me to reproduce this issue.

[2021-12-09 18:23] chirtanjit88 commented on #118
hi the plugin version is Version 1.6.1
[image: image.png]

On Thu, Dec 9, 2021 at 3:20 PM WordPress Mechanic ***@***.***>
wrote:

--
Regards,
Chiranjit Das
Contact No - 9836386353/8961821082

[2021-12-09 18:52] fahadmahmood8 commented on #118
Is there a way that you can help me to reproduce this issue? Can you please record a video of steps you follow?

[2021-12-11 04:48] fahadmahmood8 commented on #117
Dear Gordon,

I have tested the plugin, you are right about the stock allocation but in
case of failed or canceled status, stock gets restored for sure. And I have
recently made two more options visible in the bottom of the settings page,
please check those and let me know if you are synchronized with me?

On Tue, Dec 7, 2021 at 2:58 AM gferguson78 ***@***.***> wrote:

--

Thanks,

Fahad

[2021-12-12 09:33] JReeeee commented on #117
Hey, We are having this same exact problem. We need to manually re-stock the stocks after failed payment. That new update didn't help. It still doesnt automatically re-stock.

[2021-12-12 14:16] fahadmahmood8 commented on #117
In the latest version, there is a help section and an urgent help option.
We can schedule a screen sharing session through Google meeting to
understand this issue better. Are you comfortable with this?

On Sun, Dec 12, 2021 at 2:33 PM JReeeee ***@***.***> wrote:

--

Thanks,

Fahad

[2021-12-12 14:18] JReeeee commented on #117
Hey, this sounds good. If we just could get this fixed otherwise the plugin is working like a charm.

[2021-12-12 14:21] fahadmahmood8 commented on #117
Just let me know whenever you're comfortable, I will be in the meeting room.

On Sun, Dec 12, 2021 at 7:19 PM JReeeee ***@***.***> wrote:

--

Thanks,

Fahad

[2021-12-12 14:23] JReeeee commented on #117
Let's meet in 1 hour if thats good for you.

[2021-12-12 14:28] fahadmahmood8 commented on #117
Sure, drop another email whenever you open the meeting room and I will add
you to start meeting.

On Sun, Dec 12, 2021 at 7:24 PM JReeeee ***@***.***> wrote:

--

Thanks,

Fahad

[2021-12-12 15:13] JReeeee commented on #117
Alright, lets go

[2021-12-12 15:33] JReeeee commented on #117
Im here, on the waiting room

[2021-12-12 16:16] JReeeee commented on #117
Hey,

Sice you didnt join. Shall we book good time thats suitable for you?

[2021-12-12 16:40] fahadmahmood8 commented on #117
I am available.

On Sun, Dec 12, 2021 at 9:16 PM JReeeee ***@***.***> wrote:

--

Thanks,

Fahad

[2021-12-12 16:45] JReeeee commented on #117
Here i am

[2021-12-13 12:17] gferguson78 commented on #117
Hi there,

I have tested this this morning but the issue is still the same.  Stock is being deducted too early in the order process.  It's being deducted as soon as the order is created, not when the order goes to status 'processing'.  When I create a test order using Klarna or finance an order is created on the system as status 'pending payment'.  Stock is being deducted by the plugin at this poi

[2021-12-13 22:18] fahadmahmood8 commented on #117
Dear Gordon,

We appreciate the detailed email. We are not sure if you are aware or not
but sometimes it becomes hard to test the things when we don't have the
same setup as clients/users are having on their websites. So we request
them to join us on Google meetings or Skype for better understanding. If
you are comfortable, please schedule a meeting with us through the help
section, urgent help li

[2021-12-16 10:22] oppssssss commented on #110
Thumbs Up!

[2021-12-16 15:02] gferguson78 commented on #117
I'd be more than happy to contact you via Google Meetings. Please let me know when would suit and we can arrange this.

The new changes for cancelled/pending & failed orders are very welcome but unfortunately they don't fix the issue I have with Klarna payments or when a customers payment fails. The order always stays in 'pending payment' and doesn't change status until I manually change it or del

[2021-12-16 15:16] fahadmahmood8 commented on #117
I will let you know the time. Please wait as I am working on other points
which are in final testing phase.

On Thu, 16 Dec 2021, 8:02 pm gferguson78, ***@***.***> wrote:

[2021-12-17 04:35] fahadmahmood8 commented on #118
I believe, this issue has been fixed. Have you tried the latest version?

[2021-12-17 04:35] #118 closed

[2021-12-17 04:37] fahadmahmood8 commented on #112
Any screenshot can be provided? Please try the latest version and let me know if issue persists.

[2021-12-17 04:37] #112 closed

[2021-12-17 04:39] fahadmahmood8 commented on #111
Dear Ysabel,

Have you check the priority input box option on stock location? Priority number decides if stock is not sufficient so allocate from the next stock location.

Thanks,
Fahad

[2021-12-17 04:39] #111 closed

[2021-12-17 05:17] fahadmahmood8 commented on #110
Thank you for this suggestion, it will help to manage a different price including shipping and taxes (FEE) according to the stock location selected. I am not implementing it immediately but adding this option in upcoming version 1.6.8. Values will be saved but will have no effect for now. Let me study the plugin files in depth to handle the ripple effects.

[2021-12-17 05:17] #110 closed

[2022-01-03 15:05] screenpartner opened #119 "Using Woocommerce hooks to update stock to improve compatibility"
We have an issue with making this plugin compatible with the plugin "[Back In Stock Notifications](https://woocommerce.com/products/back-in-stock-notifications/)". Notifications in this plugin are connected to Woocommerce product stock hooks which are not being called when using this plugin (see relevant hooks below). If these can be integrated with this plugin it should solve the compatibility is

[2022-01-03 23:33] fahadmahmood8 commented on #119
I would like you to have a look on the following file and function. Actually stock update is being triggered from here.
helper-slw-product.php > **update_wc_stock_status**

I need more input from you so I can understand the issue correctly.

[2022-01-04 16:26] screenpartner commented on #119
I made a pull request with some code changes that fixed this for me. Not sure how to connect it to this issue, but please take a look :)

[2022-01-10 14:24] gferguson78 opened #121 "Backorder status not being updated correctly"
I've just noticed an issue where products which are available on backorder are being set to 'outofstock' when they sell out rather than being set to 'onbackorder'.

For instance - I have a product which is set to 'allow but notify' for backorders and I have 2 of these left in stock.  When I purchase both of these items at checkout the expected behaviour is that the stock levels will be reduced to

[2022-01-10 15:00] gferguson78 commented on #121
I've made a small change in the helper-slw-product.php file on line 49 and this appears to have rectified the issue:

I changed it from:

if( ! $product->is_on_backorder() ) {
to
if (! $product->backorders_allowed() ){

This seems to make more sense as I don't think the product will have been put onto backorder by this point in the transaction as the backorder status is updated by the next part of

[2022-01-20 04:30] fahadmahmood8 commented on #121
Thank you, I am taking this chunk from here.

[2022-01-20 04:30] #121 closed

[2022-01-20 04:33] fahadmahmood8 commented on #119
Thank you

[2022-01-20 04:33] #119 closed

[2022-02-01 04:39] TLengert opened #122 "WMS Inventory Location"
This plugin is soon to be a godsend! Like others, I have been struggling to find a solution that will help me manage the LOCATION of my store inventory. I have thousands of different products that are stored in multiple locations, shelves, racks, and storage totes.

While I only have 1 warehouse, other locations would be my home, etc., I am in desperate need of a solution that handles the followin

[2022-02-01 15:04] fahadmahmood8 commented on #122
I will contact you soon. Please wait a little more.

On Tue, Feb 1, 2022 at 9:39 AM TLengert ***@***.***> wrote:

--

Thanks,

Fahad

[2022-02-04 10:43] ysaellisa opened #123 "Ordering in other language does not update stock in any stock location"
Hi and thank your for your fantastic plugin,
I have one problem I can't resolve : we are using WPML and Woocommerce, everything is working fine in english (first language) but not in french, the stock is not updating when the customer is using french language. What am I missing ? Thanks by advance,
Ysabel

[2022-02-04 11:47] fahadmahmood8 commented on #123
Dear Ysabel,

I need to check it with you. Is it possible if you can record a video or
schedule a Skype session with me?

On Fri, Feb 4, 2022 at 3:43 PM Ysabel ***@***.***> wrote:

--

Thanks,

Fahad

[2022-03-02 00:58] Wandavasquez95 opened #124 "Error message appears at top of website"
Greetings: I suddenly started to see this message at top of my website page. How do I fix it?

Notice: Undefined index: show_in_product_page in /hermes/bosnacweb06/bosnacweb06av/b2237/ipg.healthfulhumorcom/wp_site_1623086696/wp-content/plugins/stock-locations-for-woocommerce/stock-locations-for-woocommerce.php on line 224

suggestions?

[2022-03-02 11:12] fahadmahmood8 commented on #124
I have fixed this notice in the upcoming version, for now you can simply
turn this option ON from the settings page.

On Wed, Mar 2, 2022 at 5:58 AM Wandavasquez95 ***@***.***>
wrote:

--

Thanks,

Fahad

[2022-03-02 17:20] Wandavasquez95 commented on #124
Hello Fahad.

I believe the setting in ON Nd it doesnmt disappear. What happens if I deactivate and then reactivate plugin?

Sent from my iPhone

[2022-03-02 17:23] #124 closed

[2022-03-02 18:13] Wandavasquez95 commented on #124
Thank you

Sent from my iPhone

[2022-03-10 10:56] tomkolp commented on #113
Additional warehouses are not active when importing with "wp all import". How do I turn on these warehouses during import? When manually activating additional warehouses in the "products" tab, and then starting the import of only states, the general state is correct.

[2022-03-10 12:32] wdm-janis commented on #113
On WP All Import process you can use code like this:

`add_action('pmxi_saved_post', 'post_saved', 10, 1);

function post_saved($post_id) {

    $post_manufacturer_stock = get_post_meta($post_id, '_stock_at_32252', true);
    if(!$post_manufacturer_stock){
        $post_manufacturer_stock = 0;
    }
    $post_riga_stock = get_post_meta($post_id, '_stock_at_32251', true);
    if(!$post_riga_stock){

[2022-03-10 12:35] wdm-janis commented on #113
This is for the total product count after WP ALL import. We use 2 stocks, one stock is in place, another stock is the manufacturer. Code check if both stocks are the same as total, if not, do total stock count update based on both locations. In default only after you hit an update button on the product, the total stock is correct.

[2022-03-22 13:04] fahadmahmood8 commented on #113
Sorry to interrupt but just want to mention here about CRONS /wp-admin/admin.php?page=slw-settings&tab=crons
You may run the cron url manually as well, it will update the stock levels for all product items.

[2022-03-22 13:04] #113 closed

[2022-03-26 12:13] fahadmahmood8 commented on #122
@TLengert so I am finally here to address your requirements. Let me know what would be the best way to continue? Or have you already managed with something else?

[2022-03-26 12:13] #122 closed

[2022-04-16 14:58] jeroendk opened #125 "Plug-in causes out of stock message on products with variations"
All our variation products show out of stock after selecting a variation, while all variations are on stock and have sufficient stock quantity.
After disabling the plugin the variations show as in stock.

Products can still be bought but only show a stock message.

[2022-04-18 08:20] fahadmahmood8 commented on #125
@jeroendk I need a user who can go through all the settings and related pages where stock qty. and prices can have effect. Till yet, I am mostly receiving the bug reports but every user comes up with a different scenario. If you are comfortable joining me in testing, kindly use the urgent help option under the help tab on settings page.

[2022-04-18 08:20] #125 closed

[2022-04-28 10:28] takaacstamaas commented on #40
We are waiting for this too.  We have EU & USA warehouse.
So this global setting for default warehouse would be very useful for clients.

By auto detecting, or by seting up manual rules on admin, like:
"EU warehouse" countries: Germany, Austria, United Kingdom, France, etc.
"USA warehouse" countries: California, Florida, Texas, etc.

[2022-05-23 09:17] tomkolp opened #126 "WP ALL Import "You need to add a stock location to this product.""
Imports new products to the store, after import, additional warehouses are not turned on.
![image](https://user-images.githubusercontent.com/39633242/169785464-c5d1d622-11d2-445d-a185-d380c20d1853.png)
How to automatically include these warehouses on import?
WP ALL Import mapping:
![image](https://user-images.githubusercontent.com/39633242/169786301-a817b263-f635-465d-9063-b218713896b8.png)
WP ALL

[2022-05-23 09:36] fahadmahmood8 commented on #126
I did not check this case yet, kindly reach me through the help tab on settings page using urgent help so I can have some insights regarding wp all import settings. I will take care of this case as well.

[2022-05-23 09:36] #126 closed

[2022-05-23 09:48] tomkolp commented on #126
Unfortunately, all remote desktop connections and screen sharing are blocked on my network. If possible, I can provide information about all the settings I use.

[2022-05-23 09:56] fahadmahmood8 commented on #126
Then record a video so I can repeat the steps to produce the same issue on my end, I am a developer but not a good user as you are.

[2022-05-30 11:49] tomkolp opened #127 "Currency symbol in the price field"
After activating the "Stock Locations for Woocommerce" plugin, the currency symbol appears in the price field, this causes a problem in the "wp desk omnibus" plugin.
![image](https://user-images.githubusercontent.com/39633242/170986339-532943af-334d-4b5f-9bf6-7c67d7067f80.png)

[2022-05-30 11:55] fahadmahmood8 commented on #127
Version 1.9.8 should resolve this issue, kindly check and confirm.

[2022-05-30 11:55] #127 closed

[2022-06-06 22:00] bnbrndn opened #128 "Unable to select variable product quantity on front end"
I have a variable product which has stock in all locations and is enabled in all loctions. When trying to select the variation on the front end I am getting a console error of:

Uncaught TypeError: Cannot read properties of undefined (reading '0')

[2022-06-07 19:03] fahadmahmood8 commented on #128
@bnbrndn I couldn't reproduce this issue because I am working on a new version. So please wait if upcoming version gives you the same error, paste your URL here so I can check the details.

[2022-06-07 19:03] #128 closed

[2022-06-18 12:54] tomkolp opened #129 ""in stock" cannot be translated"
Could not translate "in stock" in newly added function.  In the "old" places the translations work.
![image](https://user-images.githubusercontent.com/39633242/174438451-d6068bc4-a62c-46a0-9195-71f8a2749e76.png)

[2022-06-18 12:58] fahadmahmood8 commented on #129
I will give another round to the translation as newly developed modules are translatable but not yet translated.

[2022-06-18 12:58] #129 closed

[2022-06-21 14:29] JakeKoekemoer opened #130 "Stock Value always shows 0"
Hi there Guys

I am experiencing an issue where the admin page - woocommerce products shows 0 stock despite having loaded stock in the amounts in the product set up.
The other issue that I am experiencing is that if I don't select "Allow Backorders" then the product doesn't add to cart, woocommerce says that it is out of stock.

Please could you let me know how to fix these two issues or point me

[2022-06-21 14:50] #130 closed, assigned to nobody

[2022-06-22 17:33] JakeKoekemoer commented on #130
@fahadmahmood8 can you maybe send me your email address and then we can schedule a teams meeting, then I can take you though my backend

[2022-07-06 09:28] keesheddes opened #131 "Variations and add to cart not shown on product page for variable products"
In class-slw-shortcodes.php on row 218, the variable $product is used to load the variation.
That variable name is already used, because of this, the variations and add to cart button are not shown on variable product pages.
Renaming that variable and also use it on row 224 fixes this issue.

[2022-07-07 09:23] #131 closed

[2022-07-11 17:15] pappu-corridor opened #132 "Can't add more than one product"
https://ct-host.net/delicious88/location/9055-marbach-rd-san-antonio-tx-usa/

Can not add more than one product in location page, but added on single product page. Can you please help me out.

[2022-07-11 19:43] fahadmahmood8 commented on #132
@pappu-corridor I can surely help you out, actually if there is any problem in the code so you are helping me to sort it out. Kindly confirm on this page you are already displaying the products category-wise, am I right?

[2022-07-11 19:43] #132 closed

[2022-09-03 12:44] jeroendk opened #134 "New woocommerce_product_get_stock_quantity filter causes error on backend product page"
[code]

throws an error because the WC Session is not available on the admin page.

[2022-09-03 13:03] fahadmahmood8 commented on #134
Thank you, I have released another version with this fix.

[2022-09-03 13:03] #134 closed

[2022-09-25 14:19] #99 closed

[2022-11-11 11:51] fabio-alkimia opened #137 "When create order from woocommerce rest api, the quantity of the items not decrease"
Hello!!!
I have 3 locations (A, B, C) set up in woocommerce with this plugin.
I created an order using Woocommerce's REST API (https://woocommerce.github.io/woocommerce-rest-api-docs/?php#create-an-order).

When I send the request, the order is correctly sent to woocommerce and I see it in the list.. All ok.
But the problem is: How do I specify which location I cover the product from? And why the

[2022-11-22 19:45] fahadmahmood8 commented on #137
If products are enabled with manage stock then the following action hook is working for stock reduction

`add_action( 'woocommerce_reduce_order_stock', array( $this, 'reduce_order_items_locations_stock' ), 10, 1 );`

And if manage stock is not enabled then the following action hooks are working

`				add_action( 'woocommerce_payment_complete', array( $this, 'reduce_order_items_locations_stock' ),

[2022-11-22 19:45] #137 closed